#number-of-squares{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: large;
}

#container-for-etchasketch{
    border: 1px solid red;
    display: flex;
    width: 512px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    background-color: rgb(red, green, blue);
}

.square{
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

